
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>_Layout</title>
    <link href="https://fonts.googleapis.com/css?family=Ubuntu:300,300i,400,400i,500,500i,700,700i&display=swap" rel="stylesheet">
    @Styles.Render("~/Content/css/main.min.css")
    @Scripts.Render("~/Content/css/theme.css")
</head>
<body>
    <header>
        <div class="topContainer">
            <div class="row header-top-wrap mr-0 ml-0">
                <div class="container pl-0 pr-0" style="height: 40px; max-height: 40px;">
                    <a href="/" class="nav-link nav-light" style="padding: 0rem 0rem;float: left">
                        <img src="/Content/img/clock.png" />
                    </a>
                    <span class="span-text">Monday - Saturday : 09:00 - 21:00</span>
                    <a href="/" class="nav-link nav-light" style="padding: 0rem 0rem; float: left; margin-left: 30px;">
                        <img src="/Content/img/map.png" />
                    </a>
                    <span class="span-text">3 Brentwood Grove NE28 6PT Newcastle UK</span>
                </div>
            </div>
        </div>
        <div class="container-color gray">
            <div class="container">
                <div class="row header-wrap">
                    <div class="col-md-11 pl-0 pr-0">
                        <nav class="navbar navbar-expand-lg w-100 float-right">
                            <a class="navbar-brand" href="/">
                                <img src="~/Content/img/noalogo.png" alt="">
                            </a>
                            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
                                <span class="line"></span>
                                <span class="line line-mid"></span>
                                <span class="line"></span>
                            </button>

                            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                                <ul class="navbar-nav ml-auto menu">
                                    <li class="nav-item">
                                        <a id="home" class="nav-link active" href="/EN/About">About Us</a>
                                    </li>
                                    <li class="nav-item">
                                        <a id="hair" class="nav-link" href="/TR/Comporate">Hair Transplant</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="/TR/Product">Dental Treatment</a>
                                        <div class="custom-dropdown-menu">
                                            <a href="index.html" class="list-item">
                                                <i class="fa fa-angle-double-right"></i> Yazılım Ürünleri
                                            </a>
                                            <a href="index.html" class="list-item">
                                                <i class="fa fa-angle-double-right"></i> Medikal Ürünleri
                                            </a>
                                        </div>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="/TR/Support">Patient Guide</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="/EN/Blog">Blog</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="/EN/Contact">Contact</a>
                                    </li>
                                    <li class="nav-item">

                                    </li>

                                </ul>
                            </div>
                        </nav>
                    </div>
                    <div class="col-md-1  pl-0 pr-0">
                        <div class="sosyal-medya" style="background-color: #4eb7cb;">
                            <ul>
                                <li class="medya-link" style="padding: 0.61rem 0.7rem; border-top: 1px solid transparent;">
                                    <a class="nav-link link-dunya" href="#">
                                        <img src="~/Content/img/email.png" alt="">
                                    </a>
                                </li>
                                <li class="alt_sosyal">
                                    <a class="nav-link link-dunya" href="#">
                                        <img src="~/Content/img/telephone.png" alt="">
                                    </a>
                                </li>
                                <li class="alt_sosyal">
                                    <a class="nav-link link-dunya" href="#">
                                        <img src="~/Content/img/whatsapp.png" alt="">
                                    </a>
                                </li>
                                <li class="alt_sosyal">
                                    <a class="nav-link link-dunya" href="#">
                                        <img src="~/Content/img/mail-close.png" alt="">
                                    </a>
                                </li>
                            </ul>

                        </div>
                    </div>

                </div>

            </div>
        </div>
    </header>

    @RenderBody()
    <div class="container-color white">
        <div class="container">
            <div class="row  pl-0 pr-0 mt-5" style="margin-left: -30px;margin-right: -30px;">
                <div class="col-md-2 mb-3">
                    <h6 class="mt-3" style="font-family: 'Zona Pro'; font-weight: 600; font-size: 1rem; color:#45a7b9">Social Media</h6>
                    <h6 style="font-family: 'Zona Pro';font-weight: 600; font-size: 1.3rem;">Follow us on social media</h6>
                    <span class=" mt-3 d-block" style="border-top: 5px solid #6ccbdd; border-radius: 5px; width: 40px;"></span>
                </div>
                <div class="col-md-4">

                </div>
                <div class="col-md-6">
                    <ul class="bottom-social-media">
                        <li><a href="#"><img src="/Content/img/facebook.png" /></a></li>
                        <li><a href="#"><img src="/Content/img/twitter.png" /></a></li>
                        <li><a href="#"><img src="/Content/img/instagram.png" /></a></li>
                        <li><a href="#"><img src="/Content/img/youtube.png" /></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <footer>
        <div class="container">
            <div class="row  pl-0 pr-0 ">
                <div class="col-md-9  pr-0 pl-0 footer-left-content" style="max-width: 70%;flex: 0 0 70%;">
                    <div class="row" style="margin-top: 40px; margin-bottom: 30px;">
                        <div class="col-md-4">
                            <ul class="f_menu">
                                <li>
                                    <a href="#">Terms And Conditions</a>
                                </li>
                                <li>
                                    <a href="#">Privacy Policy</a>
                                </li>
                                <li><a href="#">Contact</a></li>
                            </ul>
                            <ul class="f_social">
                                <li>
                                    <a href="#"><i class="fa fa-twitter"></i></a>
                                    <a href="#"><i class="fa fa-facebook"></i></a>
                                    <a href="#"><i class="fa fa-instagram"></i></a>
                                </li>
                            </ul>
                            <h6 class="mt-4">Copyright © 2019 - All right reserved.</h6>
                        </div>
                        <div class="col-md-3">
                            <ul class="f_menu">
                                <li><a href="#">PRP Hair Treatment</a></li>
                                <li><a href="#">Before Hair Transplant</a></li>
                                <li><a href="#">Operation</a></li>
                                <li><a href="#">After Hair Transplantation</a></li>
                                <li><a href="#">Post Operative Hair Wash</a></li>
                                <li><a href="#">Hair Transplant int Turkey</a></li>
                                <li><a href="#">FAQ's</a></li>
                                <li><a href="#">Media</a></li>
                            </ul>
                        </div>
                        <div class="col-md-3">
                            <ul class="f_menu">
                                <li><a href="#">Hair Transplantation </a></li>
                                <li><a href="#">Sapphire FUE Hair</a></li>
                                <li><a href="#">Transplant </a></li>
                                <li><a href="#">DHI Hair Transplant</a></li>
                                <li><a href="#">Soft FUE</a></li>
                                <li><a href="#">Beard Transplantation</a></li>
                                <li><a href="#">Eyebrow Transplantation</a></li>
                                <li><a href="#">Hair Mesotherapy</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-md-12 pr-0 pl-0 text-center footer-right-content " style="background: #54bacd; max-width: 30%;flex: 0 0 30%;">
                    <div class="pl-5 pr-5 mb-4">
                        <h5 class="mr-auto ml-auto mt-4" style="font-weight: bold; color: #fff; ">Head Office</h5>
                        <h6 class="mt-3" style="color: #fff;">3 Brentwood Grove NE28 6PT Newcastle UK</h6>
                        <a class="link-directions mr-auto ml-auto mt-2" style="">Get Directions</a>
                        <h5 class="mt-4" style="color: #fff; font-weight: 600;">+44 7501 655600</h5>
                        <h5 class="mt-2" style="color: #fff; font-weight: 300;">info@noamedcare.co.uk</h5>
                    </div>
                </div>
                <div class="col-md-12 mobile_footer">
                    <ul class="f_social">
                        <li>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-instagram"></i></a>
                        </li>
                    </ul>
                    <h6 class="mt-4 copyright">Copyright © 2019 - All right reserved.</h6>
                </div>
            </div>
        </div>
    </footer>
    @Scripts.Render("~/Content/js/main.min.js")
    @Scripts.Render("~/Content/js/theme.js")
    @RenderSection("scripts", required: false)
</body>
</html>
